@font-face {
  font-family: Releway-Medium;
  src: url("../styles/Fonts/Raleway-Medium.ttf");
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

body,
h1 {
  font-family: Releway-Medium;
  color: black;
}

h2 {
  font-family: Relaway-Medium;
  color: black;
  text-align: center;
}

/*Estilos barra de navegación*/
.avatarLogo {
  width: 30px;
}

.nav-link {
  font-size: 1.5rem;
  color: rgb(166, 146, 33);
  border: none;
  font-family: Releway-Medium;
}

.nav-link:hover {
  font-size: 1.5rem;
  color: grey;
  border: none;
  font-family: Releway-Medium;
}

.navPosiciones {
  display: inline-block;
  font-size: 1rem;
  color: goldenrod;
  border: none;
  font-family: Releway-Medium;
}

/*Estilos de NavBar*/
#navbarNav {
  font-family: Releway-Medium;
  font-size: 24px;
  letter-spacing: 2pt;
}

#navbarNav :hover {
  color: red;
}

/*Estilos y formatos página Club*/
.colHistoria {
  margin-right: 10%;
  margin-left: 10%;
}

.imgHistoria {
  height: fit-content;
  width: fit-content;
}

.tituloClub {
  font-family: Relaway-Medium;
  color: goldenrod;
  text-align: center;
}

/*Estilo página equipo*/
.etiquetaEquipo {
  color: goldenrod;
  font-size: 2rem;
  font-family: Releway-Medium;
}

.tarjetaJugador {
  width: 18rem;
  height: 30rem;
}

/*Ajuste de tamaños e imagen de fondo del carousel principal*/
.carousel-inner .carousel-item .img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
  background-image: url("../images/imagen_header_2.jpg");
  background-size: auto;
  background-position: initial;
}

/*Ajuste de tamaños y estilo container de noticias*/
.noticias {
  padding-top: 20px;
}

.galeriaVideos {
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

.galeriaImagenes {
  padding-top: 10px;
}

.galeriaInicialVid {
  width: 100%;
  height: 100%;
}

.tituloNoticias {
  font-size: 2rem;
  text-align: center;
  font-family: Releway-Medium;
}

.tituloGaleria {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: Releway-Medium;
}

/*Formato y estilos página temporada*/
.tablaPosiciones {
  width: 90%;
  height: 90%;
  padding-left: 10%;
  font-family: Releway-Medium;
}

/*Formato e imagen de parallax de página principal*/
.img-dos {
  background-image: url("../images/pasarella_vestuario.png");
}
.parallax {
  margin-top: 30px;
  margin-bottom: 30px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  max-width: 100%;
  position: relative;
}

/*Formato de Footer*/
.footer {
  background-color: black;
  font-family: Releway-Medium;
  color: #fff;
  text-align: center;
}

.hashtagRedes {
  display: inline-block;
  font-size: large;
  color: white;
  font-family: Releway-Medium;
}

.logo {
  object-fit: cover;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

/*Estilos y formatos página Galeria*/
.tituloGaleriaImagenes {
  font-family: Releway-Medium;
  font-size: 2rem;
  color: goldenrod;
  text-align: center;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery iframe {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: Releway-Medium;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Estilos y formato del formulario de registro*/
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: red;
  color: white;
}

input[type="submit"]:hover {
  opacity: 0.5;
}

.subir {
  /*fixed para que quede fijado el botón*/
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: red;
  padding: 20px;
  /*sombra. para doble separo con coma y vuelvo a poner los parámetros*/
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  color: #fff;
}
